<div class="container">
    <div class="text">
       Formulario para quejas
    </div>
    <form action="#">
       <div class="form-row">
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Nombres</label>
          </div>
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Apellidos</label>
          </div>
       </div>
       <div class="form-row">
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Email</label>
          </div>
          
       </div>
       <div class="form-row">
          <div class="input-data textarea">
             <textarea rows="8" cols="80" required></textarea>
             <br />
             <div class="underline"></div>
             <label for="">Escribe tu mensaje</label>
          </div>
       </div>
       <div class="form-row submit-btn">
          <div class="input-data">
             <div class="inner"></div>
             <input type="submit" value="Enviar">
          </div>
       </div>
    </form>
</div>

<div class="container">
    <div class="text">
       Formulario para sugerencias
    </div>
    <form action="#">
       <div class="form-row">
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Nombres</label>
          </div>
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Apellidos</label>
          </div>
       </div>
       <div class="form-row">
          <div class="input-data">
             <input type="text" required>
             <div class="underline"></div>
             <label for="">Email</label>
          </div>
          
       </div>
       <div class="form-row">
          <div class="input-data textarea">
             <textarea rows="8" cols="80" required></textarea>
             <br />
             <div class="underline"></div>
             <label for="">Escribe tu mensaje</label>
          </div>
       </div>
       <div class="form-row submit-btn">
          <div class="input-data">
             <div class="inner"></div>
             <input type="submit" value="Enviar">
          </div>
       </div>
    </form>
</div>
