.navbar {
  padding: 40px 0;
}


.navbar-brand img {
  max-height: 70px; 
}

.navbar-nav .nav-link {
  padding: 10px 10px; 
  font-size: 25px;
}


.navbar-form {
  margin-right: 30px; 
}

.form-control {
  width: 500px; 
  border-radius: 20px; 
}

.btn-outline-success {
  background-color: rgb(255, 74, 90); 
  border-color: rgb(255, 74, 90); 
  border-radius: 5px; 
}

.btn-outline-success:hover {
  background-color: rgb(220, 50, 65); 
  border-color: rgb(220, 50, 65);
}
