<div class="row">
  <form class="col s12" (ngSubmit)="crearCita()" #form="ngForm">
      <div class="row">
          <div class="input-field col s12">
              <input id="name" type="text" class="validate" [(ngModel)]="cita.nombre" name="nombre" #name="ngModel">
              <label for="name">Nombre</label>
              <div class="alert alert-danger mt-2" [hidden]="name.untouched"
              [ngClass]="{'mostrar':validarNombre(name.value), 'noMostrar':!validarNombre(name.value)}">
                Ingresa un nombre valido
              </div>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input id="start_date" type="date" class="datepicker" [(ngModel)]="cita.fecha" name="fecha" #date="ngModel">
              <label for="start_date">Fecha de la cita</label>
              <div class="alert alert-danger mt-2" [hidden]="date.untouched"
              [ngClass]="{'mostrar' : validarFecha(date.value), 'noMostrar' :!validarFecha(date.value)}"
              >Por favor ingresa una fecha valida
            </div>
          </div>
          <div class="input-field col s6">

              <input id="start_time" type="time" class="timepicker" [(ngModel)]="cita.hora" name="hora" #hora="ngModel">
              <label for="start_time">Hora de inicio</label>
              <div class="alert alert-danger mt-2" [hidden]="hora.untouched"
              [ngClass]="{'mostrar': !validarHora(hora.value), 'noMostrar' : validarHora(hora.value)}">Nuestro horario de atencion es de 8am a 8pm</div>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input id="quantity" type="number" class="validate" [(ngModel)] = "cita.canthuespedes" name="canthuespedes" #huespedes="ngModel">
              <label for="quantity">Cantidad de huespedes</label>
              <div class="alert alert-danger mt-2" [hidden]="huespedes.untouched"
              [ngClass]="{'mostrar' : validarHuespedes(huespedes.value), 'noMostrar' : !validarHora(huespedes.value)}">
              Minimo 1 huesped y maximo 16 huespedes</div>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input id="email" type="email" class="validate" [(ngModel)]="cita.email" #email="ngModel" name="email">
              <label for="email">Correo electrónico</label>
              <div class="alert alert-danger mt-2" [hidden]="email.untouched"
              [ngClass]="{'mostrar' : validarCorreo(email.value), 'noMostrar' : !validarCorreo(email.value)}">
              Por favor ingresa un email valido</div>
          </div>
          <div class="input-field col s6">
              <input id="phone" type="tel" class="validate" [(ngModel)]="cita.telefono" #telefono="ngModel" name="telefono">
              <label for="phone">Teléfono</label>
              <div class="alert alert-danger mt-2" [hidden]="telefono.untouched"
              [ngClass]="{'mostrar' : !validarTelefono(telefono.value), 'noMostrar' : validarTelefono(telefono.value)}">
              Escribe un numero de telefono valido</div>
          </div>
      </div>
      <!-- <div class="row">
          <div class="input-field col s12">
              <input id="location" type="text" class="validate" [(ngModel)] = "cita.lugar" name="lugar" #place="ngModel">
              <label for="location">Lugar del Hospedaje</label>
              <div class="alert alert-danger mt-2" [hidden]="place.valid || place.untouched">Este campo es obligatiorio</div>
          </div>
      </div> -->
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="validacion()">Enviar
          <!-- <i class="material-icons right">send</i> -->
      </button>
  </form>
</div>


