<div class="tabla-1">
  <h2>Citas atendidas</h2>
<table class="striped">
  <thead>
    <tr class="principal">
      <th>Nombre </th>
      <th>Correo</th>
      <th>Fecha de reunion</th>
      <th>Hora de reunion</th>
      <th>Lugar solicitado</th>
      <th>Dias solicitados</th>
    </tr>
  </thead>
  <tbody>
  @for (cita of citas; track cita) {
    @if (transformarDate(cita.fecha) < today) {
    <tr>
      <td>{{cita.nombre | uppercase}}</td>
      <td>{{cita.email}}</td>
      <td>{{cita.fecha | date:'d/M/y'}}</td>
      <td>{{cita.hora}}</td>
      <td>{{getLugar(cita.lugar)}}</td>
      <td>{{cita.dias}}</td>
    </tr>
   }
  }
  </tbody>
</table>
</div>
<hr>
<h2>Citas por atender</h2>
<div class="tabla-2">
  <table class="striped">
    <thead>
      <tr class="principal">
        <th>Nombre </th>
        <th>Correo</th>
        <th>Fecha de reunion</th>
        <th>Hora de reunion</th>
        <th>Lugar solicitado</th>
        <th>Dias solicitados</th>
      </tr>
    </thead>
    <tbody>
      @for (cita of citas; track cita) {
        @if (transformarDate(cita.fecha) >= today) {
        <tr>
          <td>{{cita.nombre | uppercase}}</td>
          <td>{{cita.email}}</td>
          <td>{{cita.fecha | date:'mediumDate'}}</td>
          <td>{{cita.hora}}</td>
          <td>{{getLugar(cita.lugar)}}</td>
          <td>{{cita.dias}}</td>
        </tr>
       }
      }
      </tbody>
  </table>
</div>

